<% if @user %>
<h3>Perfil Público <%= nombre_perfil(@user) %></h3>

<div class="row">
	<div class="col-xs-4">
		<%= gravatar_image_tag(@user.email, :alt => @user.name, :class=> "thumnail", :gravatar => { :size => 300 }) %>
	</div>
	<div class="col-xs-5">
		<h3><%= nombre_perfil(@user) %></h3>
		<p>
			<small>
				<p>Ciudad: <%= ciudad_perfil(@user) %></p>
				<p>Sexo: <%= sexo_perfil(@user) %></p>
			</small>
			<%= render :partial => "users/contacto", :locals => {:destinatario => @user.email, :usuario => @user } %>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<%= link_amistad(current_user, @user) %>
		<% if !existe_amistad?(current_user, @user) %>
		<!-- Comprobar si existe amistad, sino mostrar el enlace -->
		<!--<%= link_to "Petición de amistad a #{@user.name}", {:controller => "amistad", :action => "crear", :id => @user }, :confirm => "¿Realmente quiere solitar su amistad?" %>
		<% end %>-->
	</div>
</div>
<% else %>
	<div class="row">
		<div class="col-xs-9">
			<h1>Uppss!!</h1>
			<h2>Lo sentimos :(</h2>
			<h3>
				El usuario que está buscando no existe.
			</h3>
		</div>
	</div>
<% end %>
